.body {background-color: #0734af9a;



}



.cabeçalho{
color: blueviolet;

  
    padding-left: 450px;
    padding-inline-end: 400px;}
    
    
    
    
    .inxirido{
        color: blueviolet;
        padding-left: 60px;


        




    }
   .corpin{ color: blueviolet;
    padding-left: 50px;


font-family:initial;





   }
   .pat{



width: 24%;}


.net { width: 25%;








   }
   .git {width: 50%;}


   .ht {width: 50%;}

   .emo {width: 75%;}
   
.fil {width: 15%;}
 
.wp {width: 4%;}